<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy9DPUBx2iqtFRlPeGJy0oQ4NpwF-w3TA</string>
	<key>GCM_SENDER_ID</key>
	<string>362729391418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jewelryApp</string>
	<key>PROJECT_ID</key>
	<string>jewelery-d7c05</string>
	<key>STORAGE_BUCKET</key>
	<string>jewelery-d7c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362729391418:ios:2030dcf8504ee571447c03</string>
</dict>
</plist>